<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="EQAudioTriggers.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Syncfusion.SfShared.Wpf" publicKeyToken="3d67ed1f87d44c89" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-18.3460.0.44" newVersion="18.3460.0.44" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Syncfusion.SfBusyIndicator.WPF" publicKeyToken="3d67ed1f87d44c89" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-18.3460.0.44" newVersion="18.3460.0.44" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Syncfusion.Licensing" publicKeyToken="632609b4d040f6b4" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-18.3460.0.47" newVersion="18.3460.0.47" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Syncfusion.SfSkinManager.WPF" publicKeyToken="3d67ed1f87d44c89" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-18.3460.0.47" newVersion="18.3460.0.47" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <EQAudioTriggers.Properties.Settings>
      <setting name="LastLogMaintenance" serializeAs="String">
        <value />
      </setting>
      <setting name="ApiUsername" serializeAs="String">
        <value>restadmin</value>
      </setting>
      <setting name="ApiPassword" serializeAs="String">
        <value>supersecret</value>
      </setting>
    </EQAudioTriggers.Properties.Settings>
  </userSettings>
</configuration>