<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Extended.Wpf.Toolkit" version="4.4.0" targetFramework="net48" />
  <package id="LiteDB" version="5.0.12" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net48" />
  <package id="Syncfusion.Data.WPF" version="20.2.0.50" targetFramework="net48" />
  <package id="Syncfusion.Licensing" version="20.2.0.50" targetFramework="net48" />
  <package id="Syncfusion.SfAccordion.WPF" version="20.2.0.50" targetFramework="net48" />
  <package id="Syncfusion.SfBusyIndicator.WPF" version="20.2.0.50" targetFramework="net48" />
  <package id="Syncfusion.SfChart.WPF" version="20.2.0.50" targetFramework="net48" />
  <package id="Syncfusion.SfDiagram.WPF" version="20.2.0.50" targetFramework="net48" />
  <package id="Syncfusion.SfGrid.WPF" version="20.2.0.50" targetFramework="net48" />
  <package id="Syncfusion.SfGridCommon.WPF" version="20.2.0.50" targetFramework="net48" />
  <package id="Syncfusion.SfShared.WPF" version="18.3.0.48" targetFramework="net48" />
  <package id="Syncfusion.SfSkinManager.WPF" version="20.2.0.50" targetFramework="net48" />
  <package id="Syncfusion.SfTreeNavigator.WPF" version="20.2.0.50" targetFramework="net48" />
  <package id="Syncfusion.SfTreeView.WPF" version="20.2.0.50" targetFramework="net48" />
  <package id="Syncfusion.Shared.WPF" version="20.2.0.50" targetFramework="net48" />
  <package id="Syncfusion.Themes.Blend.WPF" version="20.2.0.50" targetFramework="net48" />
  <package id="Syncfusion.Themes.MaterialDark.WPF" version="20.2.0.50" targetFramework="net48" />
  <package id="Syncfusion.Themes.MaterialDarkBlue.WPF" version="20.2.0.50" targetFramework="net48" />
  <package id="Syncfusion.Themes.MaterialLight.WPF" version="20.2.0.50" targetFramework="net48" />
  <package id="Syncfusion.Themes.MaterialLightBlue.WPF" version="20.2.0.50" targetFramework="net48" />
  <package id="Syncfusion.Themes.Metro.WPF" version="20.2.0.50" targetFramework="net48" />
  <package id="Syncfusion.Themes.Office2013DarkGray.WPF" version="20.2.0.50" targetFramework="net48" />
  <package id="Syncfusion.Themes.Office2016DarkGray.WPF" version="20.2.0.50" targetFramework="net48" />
  <package id="Syncfusion.Themes.Office2019Black.WPF" version="20.2.0.50" targetFramework="net48" />
  <package id="Syncfusion.Themes.Office2019Colorful.WPF" version="20.2.0.50" targetFramework="net48" />
  <package id="Syncfusion.Themes.Office2019DarkGray.WPF" version="20.2.0.50" targetFramework="net48" />
  <package id="Syncfusion.Themes.Office2019White.WPF" version="20.2.0.50" targetFramework="net48" />
  <package id="Syncfusion.Themes.Office365.WPF" version="20.2.0.50" targetFramework="net48" />
  <package id="Syncfusion.Themes.VisualStudio2015.WPF" version="20.2.0.50" targetFramework="net48" />
  <package id="Syncfusion.Tools.WPF" version="20.2.0.50" targetFramework="net48" />
  <package id="System.IO.Compression" version="4.3.0" targetFramework="net48" />
  <package id="System.IO.Compression.ZipFile" version="4.3.0" targetFramework="net48" />
  <package id="System.Windows.Interactivity.WPF" version="2.0.20525" targetFramework="net48" />
</packages>